.container{
    display: flex;
    height: 100%;
    width: 100%;
}
.outersquare{
    display: flex;
    background-color: white;
    width:71.428571vw;
    height: 71.428571vh;
    border: 0.25pt solid #d4d4d4;
    border-style: solid;
    border: width 1px;
    margin:auto;
}
.middlesquare{
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: #513F48;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.innersquare{
    width: 42.857143vw;
    height: 42.857143vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.top-left-square{
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #F2A1B1;
    position: absolute;
    top: 0;
    left: 0;
}
.bottom-right-square{
    width: 28.571428vw;
    height: 28.571428vh;
    background-color: #0F6464;
    position: absolute;
    bottom: 0;
    right: 0;
}
