.container{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
}

.square1{
    display: flex;
    background-color: white;
    border-color: black;
    border-style: solid;
    border: width 1px;
    margin:auto
}

.square2{
    display: flex;
    background-color: white;
    width: 50%;
    height: 50%;

}
