.container4{
    display: flex;
    width: 100%;
    height: 100%;
}


.squa{
    display: flex;
    display: flex;
    margin: auto;
    border: 0.75pt solid;
     border-color:  rgb(211, 211, 211);
    width: 71.428571vw;
    height: 71.428571vh;
    background: white;
}

.lines{
    display: flex;
    background: white;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.linelef{
    background: rgb(0, 0, 0);
    width: 1.6vw;
    height: 42.857143vh;
    margin: auto;
    margin-left: 0;
}

.line{
    background: rgb(0, 0, 0);
    width: 1.6vw;
    height: 42.857143vh;
    margin: auto;
}

.linerigh{
    background: rgb(0, 0, 0);
    width: 1.6vw;
    height: 42.857143vh;
    margin: auto;
    margin-right: 0;
}

.sub-square{
    display: flex;
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -28.17384281vh;
}

.white1{
    display: flex;
    transform: rotate(-345.605deg);
    background-color: #fff;
    width: 1.50965797vw;
    height: 17vh;
    margin: auto;
    margin-left: 0.5vh;
    margin-top: -1vh;
}